h1{
  background-color: rgba(0, 0, 0, 0.389);
  border-radius:17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;

}

body{
  background: linear-gradient(135deg, #8e6666,#3e7b80 );
}

input{
  border-radius: 17px;
  margin: 7px;

}

button{
  border-radius: 7px;
  background: linear-gradient(35deg, #ff00, #796f6f);
  color: #ffffff;
  padding: 7px;
  margin: 7px;

}

button:hover{
  transition: all .3s ease-in-out;
  transform: translateX(5px);
  background: linear-gradient(180deg, #ffff00, #0000005c);
}

form{
  background-color: rgba(0, 0, 0, 0.353);
  border-radius: 7px;
  
}